/*
 * http://getbootstrap.com/docs/4.1/examples/album/
 */
 :root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

.searchForm {
  padding-top: 60px;
  margin: auto;
  max-width: 50%;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.cardshadow {
  box-shadow: 5px 5px 5px #ddd !important;
}

.cardshadow:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #ccc !important;
}

.cardshadow:active {
  cursor: pointer;
  box-shadow: 5px 5px 5px #f8f9fa !important;
  margin-top: -2px;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}